body {
  color: #212426;
  background-color: #000000cf;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif
}

.bg-light {
  background-color: #F2C405 !important;
  z-index: 1;
}

.navbar-light .navbar-brand {
  color: #272B2E;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 10px;
}

.navbar-light:hover .navbar-brand:hover {
  color: #A88804;
}

.navbar-light .navbar-nav .nav-link {
  color: #272B2E;
  font-size: 25px;
  text-transform: uppercase;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #A88804;
}

.navbar {
  height: 65px;
}

.navbar-nav {
  position: absolute;
  right: 0;
}

.head-title {
  color: #181818;
  padding-top: 90px;
  padding-left: 100px;
  font-size: 100px;
  text-transform: uppercase;
  transition: all ease 1s;
}

.head-title:hover {
    transition-duration: 400ms;
    text-shadow: -4px 2px 0 #cba404;
}

.upper-part {
  display: block;
  background-color: #F2C405;
  color: white;
  text-transform: uppercase;
  text-align: center;
  color: #272B2E;
  z-index: 1;
  width: 100%;
  height: 70px;
    border-radius: 4px;
}


.card-body {
  background-color: #F2C405;
  color: white;
  text-transform: uppercase;
  text-align: center;
  color: #272B2E;
  z-index: 1;
  width: 100%;
  border-radius: 4px;
}

.cardHolder {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
  padding-bottom: 250px;
}

.card {
  width: 600px;
  border-color: #000000cf;
}

.card-img-top {
  height: 742px;
}

.btn {
  position: relative;
  display: block;
  color: #212426;
  font-size: 14px;
  text-decoration: none;
  margin: 10px 0;
  border: 2px solid #212426;
  padding: 14px 30px;
  overflow: hidden;
  transition: 1s all ease;
}

.btn:hover {
  color: #F2C405;
}

.btn::before {
  background: #212426;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn1:hover::before {
  height: 380%;
}

.btn2::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn2:hover::before {
  height: 380%;
}

.btn3::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn3:hover::before {
  height: 380%;
}

.footer {
  bottom: 0;
  background-color: #F2C405;
  width: 100%;
  height: 3em;
  overflow:hidden;
  margin:0 auto;
  transition: all 1s ease;
  z-index:999;
  box-shadow: 1px -1px 16px 3px rgba(0,0,0,0.50);
  text-align: center;
}

.footer:hover {
    transition: all 1s ease;
	height: 12em;
  position: sticky;
  bottom: 0;
}


.flex-center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}


.fa-caret-up {
  /* A modifier */
  margin: -15px;
  font-size: 3rem;
}

.fa-4x {
  font-size: 3.5rem;
}

.icon-3d {
  padding-left: 30px;
  color: #212426;
}

.icon-3d:hover {
  text-shadow: 4px 2px 9px rgba(0, 0, 0, 0.85);
}
